<div id="about">
  <div class="mat-display-1 app-border-line">About Me</div>
  <div class="about-content">
    <div>
      <p>
        Hi, I'm Ryan! I have enjoyed coding as one of my main hobbies since I was 15, and have been fortunate enough to explore
        this passion as a Computer Science major at the University of Kentucky, and now as a professional software developer.
        I have experience working as a full-stack engineer on both a smaller development team at <a href="https://www.ashland.com/" target="_blank">Ashland</a>
        (now <a href="https://www.valvoline.com/" target="_blank">Valvoline</a>), and on a much larger team at my current company <a href="https://www.flooid.com/" target="_blank">Flooid</a>. I try to keep
        up with other programming-related technologies for smaller hobby projects outside of work.
      </p>
      <p>
        When I'm not coding you can find me at the golf course, backpacking on the trail, visiting a local brewery, or going for a run with my dog!
      </p>
    </div>
    <div class="pics">
      <img id="backpacking" class="about-img fixed" src="assets/images/backpacking.png"/>
      <div *ngIf="!(isXs$ | async)" class="secondary-imgs">
        <img id="biking" class="about-img fixed" src="assets/images/beans-biking.png"/>
        <img id="camping" class="about-img fixed" src="assets/images/camp.png"/>
      </div>
    </div>
  </div>
</div>
