@use '../../../styles/mixins' as app;
@use '../../../styles/screen-sizes' as screen;

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.5rem;
}

@media only screen and (max-width: screen.$md) {
  .about-content {
    flex-direction: column;
  }
}

.pics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

.about-img {
  @include app.elevation(4);
  border-radius: 4px;

  &.fixed {
    max-width: 16rem;
    object-fit: cover;
    opacity: 0;
  }
}

.secondary-imgs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
