<div id="about"
     fxLayout="column"
     fxLayoutAlign="center">
  <div class="mat-display-1 app-border-line">About Me</div>
  <div fxLayout="row"
       fxLayout.lt-lg="column"
       fxLayoutAlign="center"
       fxLayoutGap="24px">
    <div fxFlex="50">
      <p>
        Hi, I'm Ryan! I have enjoyed coding as one of my main hobbies since I was 15, and have been fortunate enough to explore
        this passion as a Computer Science major at the University of Kentucky, and now as a professional software developer.
        I have experience working as a full-stack engineer on both a smaller development team at <a href="">Ashland</a>
        (now <a href="">Valvoline</a>), and on a much larger team at my current company <a href="">Flooid</a>. I try to keep
        up with other programming-related technologies for smaller hobby projects outside of work.
      </p>
      <p>
        When I'm not coding you can find me at the golf course, backpacking on the trail, or visiting a local brewery!
      </p>
    </div>
    <div class="pics"
         fxLayout="row"
         fxLayoutAlign="center"
         fxLayoutGap="24px"
         fxFlex.gt-xs="50">
      <img id="backpacking" class="about-img fixed" src="assets/images/backpacking.png"/>
      <div *ngIf="!(isXs$ | async)"
           fxLayout="column"
           fxLayoutGap="24px">
        <img id="golfing" class="about-img fixed" src="assets/images/golf.png"/>
        <img id="camping" class="about-img fixed" src="assets/images/camp.png"/>
      </div>
    </div>
  </div>
</div>
