@import "~@angular/material/theming";

:host {
  position: relative;
  display: block;
  padding-top: 35px;

  & .timeline-content-placeholder {
    width: 100%;
  }
}

.timeline-content {
  position: absolute;
  display: block;
}

.timeline-nodes {
  min-width: 30px;
}

.timeline-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 8px;
  left: 20%;
  transform: translateX(-50%);
}
