<mat-toolbar id="footer" [color]="(theme$ | async) === 'light-theme' ? 'primary' : ''">
  <div class="footer-container">
    <div class="icon-links">
      <a href="https://github.com/zembrodt" target="_blank">
        <fa-icon matRipple [icon]="githubIcon"></fa-icon>
      </a>
      <a href="https://linkedin.com/in/ryanzembrodt" target="_blank">
        <fa-icon matRipple [icon]="linkedInIcon"></fa-icon>
      </a>
      <a href="mailto:ryan.zembrodt@gmail.com" *ngIf="isXs$ | async">
        <fa-icon matRipple [icon]="emailIcon"></fa-icon>
      </a>
    </div>
    <a *ngIf="!(isXs$ | async)"
       class="mat-subheading-1 email"
       href="mailto:ryan.zembrodt@gmail.com">ryan.zembrodt&#64;gmail.com</a>
    <div class="resume-container">
      <button mat-raised-button class="resume-button" (click)="onResumeClick()">
        <div class="resume-button-content">
          <mat-icon>description_outline</mat-icon>
          <span>Resume</span>
        </div>
      </button>
    </div>
  </div>
</mat-toolbar>
