<mat-toolbar id="footer" [color]="(theme$ | async) === 'light-theme' ? 'primary' : ''">
  <div fxLayout="row"
       fxLayoutAlign="center center"
       style="width: 100%">
    <div fxFlex="20"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="16px">
      <a href="https://github.com/zembrodt" target="_blank">
        <fa-icon matRipple [icon]="githubIcon"></fa-icon>
      </a>
      <a href="https://linkedin.com/in/ryanzembrodt" target="_blank">
        <fa-icon matRipple [icon]="linkedInIcon"></fa-icon>
      </a>
      <a href="mailto:ryan.zembrodt@gmail.com" *ngIf="isMobile$ | async">
        <fa-icon matRipple [icon]="emailIcon"></fa-icon>
      </a>
    </div>
    <a *ngIf="!(isMobile$ | async)"
       fxFlex="60"
       class="mat-subheading-1 email"
       href="mailto:ryan.zembrodt@gmail.com">ryan.zembrodt@gmail.com</a>
    <div fxFlex>
      <button mat-raised-button class="resume" (click)="onResumeClick()">
        <div fxLayout="row"
             fxLayoutAlign="space-around center"
             fxLayoutGap="4px">
          <mat-icon>description_outline</mat-icon>
          <span>Resume</span>
        </div>
      </button>
    </div>
  </div>
</mat-toolbar>
