@use '../../../styles/mixins' as app;
@use '../../../styles/screen-sizes' as screen;

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 16rem;
}

#intro {
  margin-top: 12.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  &.mobile {
    margin-top: 6.25rem;
  }
}

@media only screen and (max-width: screen.$lg) {
  #intro {
    gap: 2rem;
  }
}

@media only screen and (max-width: screen.$md) {
  .content {
    gap: 8rem;
  }

  #intro {
    margin-top: 6.25rem;
    flex-direction: column;
  }
}

.intro-blurb {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  align-content: center;
  gap: 1rem;
}

.pic-of-me {
  float: right;
  position: relative;
  display: inline-block;
  opacity: 0;

  img {
    @include app.elevation(4);
    border-radius: 4px;
    max-width: 80%;
  }
}

#hello-there {
  opacity: 0;
}

.name-display {
  margin: 0;
  opacity: 0;
}

.job-title-display {
  margin: 0;
  text-align: left;
  opacity: 0;
}

.blurb {
  max-width: 32rem;
  opacity: 0;
}
