.content {
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
}

#intro {
  margin-top: 200px;
}

.pic-of-me {
  float: right;
  position: relative;
  display: inline-block;
  opacity: 0;
}

.pic-of-me img {
  border-radius: 4px;
  max-width: 80%;
  box-shadow: 3px 3px 10px black;
}

#hello-there {
  opacity: 0;
}

.name-display {
  margin: 0;
  opacity: 0;
}

.job-title-display {
  margin: 0;
  text-align: left;
  opacity: 0;
}

.blurb {
  max-width: 500px;
  opacity: 0;
}
