<div class="content">
  <div id="intro">
    <div class="intro-blurb">
      <span id="hello-there">Hello, my name is</span>
      <span class="mat-headline-2 name-display">Ryan Zembrodt.</span>
      <span class="mat-headline-4 job-title-display">I'm a Software Engineer.</span>
      <div class="blurb">
        Currently based in Cincinnati, OH and employed at <a href="https://www.eastportanalytics.com/">Eastport Analytics</a>.
        I have a strong passion for full-stack development and anything programming.
      </div>
    </div>
    <div class="pic-of-me">
        <img src="assets/images/main_pic.png">
    </div>
  </div>

  <app-visibility [name]="experiencePage"
                  [offset]="(isLtMd$ | async) ? 200 : null">
    <app-experience></app-experience>
  </app-visibility>
  <app-visibility [name]="'projects'"
                  [offset]="(isLtMd$ | async) ? 200 : null">
    <app-projects></app-projects>
  </app-visibility>
  <app-visibility [name]="aboutPage"
                  [offset]="(isLtMd$ | async) ? 200 : null">
    <app-about></app-about>
  </app-visibility>
  <app-visibility [name]="'contact'" [offset]="100">
    <app-contact></app-contact>
  </app-visibility>
</div>
