<div id="dashboard">
  <app-navbar></app-navbar>
  <div fxLayout="column"
       fxLayoutAlign="center"
       fxLayoutGap="256px"
       class="content">
    <div fxLayout="row"
         fxLayout.lt-lg="column"
         fxLayoutAlign="center center"
         fxLayoutGap.lt-lg="32px"
         class="intro">
      <div fxLayout="column"
           fxLayoutAlign="center start"
           fxLayoutGap="16px"
           class="intro-blurb">
        <span id="hello-there">Hello, my name is</span>
        <span class="mat-display-3 name-display">Ryan Zembrodt.</span>
        <span class="mat-display-1 job-title-display">I'm a Software Engineer.</span>
        <div class="blurb">
          Currently based in Cincinnati, OH and employed at <a href="https://www.flooid.com/">Flooid</a>.
          I have a strong passion for full-stack development and anything programming.
        </div>
      </div>
      <div class="pic-of-me">
          <img src="assets/images/main_pic.png">
      </div>
    </div>
    <app-visibility [name]="aboutPage">
      <app-about id="about"></app-about>
    </app-visibility>
    <app-visibility [name]="'experience'">
      <app-experience id="experience"></app-experience>
    </app-visibility>
    <app-visibility [name]="'projects'">
      <app-projects id="projects"></app-projects>
    </app-visibility>
    <app-visibility [name]="'contact'" [offset]="100">
      <app-contact id="contact"></app-contact>
    </app-visibility>
  </div>
  <app-footer></app-footer>
</div>
