@use '../../../styles/mixins' as app;

#intro {
  margin-top: 200px;

  &.mobile {
    margin-top: 100px;
  }
}

.pic-of-me {
  float: right;
  position: relative;
  display: inline-block;
  opacity: 0;

  img {
    @include app.elevation(4);
    border-radius: 4px;
    max-width: 80%;
  }
}

#hello-there {
  opacity: 0;
}

.name-display {
  margin: 0;
  opacity: 0;
}

.job-title-display {
  margin: 0;
  text-align: left;
  opacity: 0;
}

.blurb {
  max-width: 500px;
  opacity: 0;
}
