<mat-toolbar id="navbar" [color]="(theme$ | async) === 'light-theme' ? 'primary' : ''">
  <div class="navbar-container">
    <div class="left-navbar">
      <a *ngIf="!(isLtMd$ | async); else mobileHamburger"
         href="/"
         class="name-title mat-title">Ryan Zembrodt</a>
      <ng-template #mobileHamburger>
        <button mat-icon-button [matMenuTriggerFor]="mobileNavMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #mobileNavMenu>
          <button mat-menu-item (click)="navigate('#experience')">Experience</button>
          <button mat-menu-item (click)="navigate('#skills')">Skills</button>
          <button mat-menu-item (click)="navigate('#projects')">Projects</button>
          <button mat-menu-item (click)="navigate('#about')">About</button>
        </mat-menu>
      </ng-template>
    </div>
    <div class="navbar-container">
      <ng-container *ngIf="!(isLtMd$ | async); else mobileName">
        <div class="links-container mat-subheading-2">
          <a id="nav-experience" class="navbar-link" (click)="navigate('#experience')">Experience</a>
          <a id="nav-skills" class="navbar-link" (click)="navigate('#skills')">Skills</a>
          <a id="nav-projects" class="navbar-link" (click)="navigate('#projects')">Projects</a>
          <a id="nav-about" class="navbar-link" (click)="navigate('#about')">About</a>
        </div>
        <div id="nav-underline"></div>
      </ng-container>
      <ng-template #mobileName>
        <a class="name-title mobile-title mat-title"
           href="/">Ryan Zembrodt</a>
      </ng-template>
    </div>
    <div class="theme-icon-container">
      <button mat-icon-button class="theme-button" (click)="onThemeChange()">
        <mat-icon>{{getThemeIcon()}}</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
