@use '~@angular/material' as mat;
@import "~@angular/material/theming";

@mixin navbar-theme($theme) {
  $accent: map-get($theme, accent);

  #nav-underline {
    position: absolute;
    border-bottom: 1px solid mat.get-color-from-palette($accent, text);
  }
}
