<mat-toolbar id="navbar">
  <div fxLayout="row" style="width: 100%">
    <div class="profile-pic" fxFlex="20">
      <span class="mat-title">Ryan Zembrodt</span>
<!--      <a href="/">-->
<!--        <img src="assets/images/profile_pic.png" />-->
<!--      </a>-->
    </div>
    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxFlex="60"
         fxLayoutGap="24px"
         class="links mat-subheading-2">
      <a class="navbar-link" href="#about">About</a>
      <a class="navbar-link" href="#skills">Skills</a>
      <a class="navbar-link" href="#experience">Experience</a>
      <a class="navbar-link" href="#projects">Projects</a>
    </div>
    <div fxFlex style="text-align: right">
      <button mat-icon-button (click)="onThemeChange()">
        <mat-icon>{{getThemeIcon()}}</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
