@use '@angular/material/index' as mat;

// For explanation, see: https://material.angular.io/guide/theming

@include mat.core();

// Light theme
$light-primary: mat.define-palette(mat.$blue-gray-palette);
$light-accent:  mat.define-palette(mat.$cyan-palette);
$light-warn:    mat.define-palette(mat.$deep-orange-palette);

$light-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);

// Alternate dark theme
$dark-primary: mat.define-palette(mat.$blue-gray-palette);
$dark-accent:  mat.define-palette(mat.$cyan-palette);//, A400, A200, A700);
$dark-warn:    mat.define-palette(mat.$deep-orange-palette);

$dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn)
