@use '~@angular/material' as mat;
@import "../../node_modules/@angular/material/theming";

@mixin app-component-theme($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  .app-primary-text {
    color: mat.get-color-from-palette($primary, text) !important;
  }

  .app-foreground-text {
    color: mat.get-color-from-palette($foreground, text) !important;
  }

  .app-accent-text {
    color: mat.get-color-from-palette($accent, text) !important;
  }

  a.navbar-link:link, a.navbar-link:visited {
    color: mat.get-color-from-palette($foreground, text);
    text-decoration: none;
  }

  a:link, a:visited {
    color: mat.get-color-from-palette($accent, text);
    text-decoration: none;
  }

  a:hover, a:active {
    color: mat.get-color-from-palette($accent, text);
    text-decoration: underline;
  }

  a.navbar-link:hover {
    color: mat.get-color-from-palette($accent, text);
    text-decoration: none;
  }

  .app-border-line {
    padding-bottom: 4px;
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
  }
}
