<!-- Wrap content in mat-card if not mobile -->
<mat-card *ngIf="!(isXs$ | async); else detailContent">
  <ng-container *ngTemplateOutlet="detailContent"></ng-container>
</mat-card>

<ng-template #detailContent>
  <div class="experience-detail">
    <div class="mat-h1">
      {{experience.title}}
      <span class="app-accent-text"> &#64; </span>
      {{experience.company}}
    </div>
    <div class="mat-h2">{{experience.dates}}</div>
    <div markdown
         [src]="'assets/data/experiences/' + experience.id + '.md'"
         (load)="onMarkdownLoad($event)"
         class="experience-content"></div>
    <div *ngIf="experience.technologies && experience.technologies.length > 0"
         class="technologies code-text">
      <span *ngFor="let technology of experience.technologies; let i = index">{{technology}}</span>
    </div>
  </div>
</ng-template>
