<mat-card class="experience-card">
  <div class="experience-detail"
       fxLayout="column"
       fxLayoutAlign="center">
    <div class="mat-h1">
      {{experience.title}}
      <span class="app-accent-text"> @ </span>
      {{experience.company}}
    </div>
    <div class="mat-h2">{{experience.dates}}</div>
    <ul>
      <li *ngFor="let detail of experience.details">{{detail}}</li>
    </ul>
    <div *ngIf="experience.technologies && experience.technologies.length > 0"
         fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="8px">
      <span class="code-text" *ngFor="let technology of experience.technologies; let i = index">
        {{technology}}
        <ng-container *ngIf="i + 1 < experience.technologies.length"> &#xB7; </ng-container>
      </span>
    </div>
  </div>
</mat-card>
