<mat-card>
  <div class="experience-detail"
       fxLayout="column"
       fxLayoutAlign="center">
    <div class="mat-h1">
      {{experience.title}}
      <span class="app-accent-text"> @ </span>
      {{experience.company}}
    </div>
    <div class="mat-h2">{{experience.dates}}</div>
    <ul>
      <li *ngFor="let detail of experience.details">{{detail}}</li>
    </ul>
    <div *ngIf="experience.technologies && experience.technologies.length > 0"
         fxFlex="row wrap"
         fxFlexAlign="center center"
         class="technologies code-text">
      <span *ngFor="let technology of experience.technologies; let i = index">{{technology}}</span>
    </div>
  </div>
</mat-card>
