@use '../../../../styles/mixins' as app;

:host {
  display: block;
  position: relative;
  margin-bottom: 3rem;
  width: calc(50% - 0.25rem);

  .timeline-entry-header {
    border-radius: 4px 0 0 4px;
  }
}

:host.alternate {
  margin-left: calc(50% + 0.25rem);

  .timeline-entry-header {
    border-radius: 0 4px 4px 0;
  }
}

.timeline-entry-header {
  @include app.elevation(2);
  position: relative;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 0 1rem 0 1rem;
  text-align: center;
}
