.project-card {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.project-info {
  width: 100%;
  overflow: visible;
}

.screenshot {
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;
}
