<div class="project-detail">
  <div class="project-info"
       [ngClass]="project.screenshotUrl ? 'has-screenshot' : 'no-screenshot'">
    <mat-card class="project-card"
              [ngClass]="!project.screenshotUrl ? 'no-screenshot' : null">
      <mat-card-content>
        <div class="mat-h1">{{project.title}}</div>
        <div markdown
             [src]="'assets/data/projects/' + project.id + '.md'"
             class="project-content"></div>
        <p>Technologies used:</p>
        <div *ngIf="project.technologies && project.technologies.length > 0"
             class="code-text technologies">
          <span *ngFor="let technology of project.technologies">{{technology}}</span>
        </div>
        <div class="project-links">
          <a *ngIf="project.projectUrl"
             href="{{project.projectUrl}}" target="_blank" title="Project home">
            <mat-icon>launch</mat-icon>
          </a>
          <a *ngIf="project.githubUrl"
             href="{{project.githubUrl}}" target="_blank" title="Github">
            <fa-icon [icon]="githubIcon" style="font-size: 20px"></fa-icon>
          </a>
          <a *ngIf="project.docsUrl"
             href="{{project.docsUrl}}" target="_blank" title="Documentation">
            <mat-icon>article</mat-icon>
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="project.screenshotUrl"
       class="screenshot">
    <img src="{{project.screenshotUrl}}" width="100%" />
  </div>
</div>
