:host {
  position: relative;
  display: block;
  padding-top: 2rem;

  & .timeline-content-placeholder {
    width: 100%;
  }
}

.timeline-container {
  display: flex;
  flex-direction: row;
  place-content: stretch center;
  gap: 3rem;

  &.alternate-entries-gap {
    gap: 1.5rem;
  }
}

.timeline {
  flex: 1 1 100%;
  max-width: 40%;

  &.mobile-width {
    max-width: 100%;
  }
}

.timeline-content {
  position: absolute;
  display: block;
}

.timeline-nodes {
  min-width: 2rem;
}

.timeline-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.5rem;
  left: 20%;
  transform: translateX(-50%);
}

.mat-mdc-dialog-container .mdc-dialog__content {
  color: inherit !important;
}
