<div id="skills">
  <div class="mat-subheading-2">Some technologies I've worked with include...</div>
  <div class="skills-container">
    <div *ngFor="let skill of skills; let i = index;"
         id="skill-{{i}}"
         class="skill">
      <mat-card class="skill-card">
        <mat-card-content class="skill-card-content">
          <i class="mat-h2 skill-icon app-skill-icon devicon-{{skill.icon}}"></i>
          <div class="mat-body-1">{{skill.title}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
