<div class="dashboard">
  <mat-toolbar>
    <span>Ryan Zembrodt</span>
    <mat-button-toggle-group [(ngModel)]="page" (change)="onPageChange()" name="displayPage">
      <mat-button-toggle [value]="'work'">Work</mat-button-toggle>
      <mat-button-toggle [value]="'projects'" ngDefaultControl>Projects</mat-button-toggle>
      <mat-button-toggle [value]="'about'" ngDefaultControl>About</mat-button-toggle>
      <mat-button-toggle [value]="'contact'" ngDefaultControl>Contact</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>
  <span>Selected page: {{page}}</span>
  <app-work id="work"></app-work>
  <app-projects id="projects"></app-projects>
  <app-about id="about"></app-about>
  <app-contact id="contact"></app-contact>
</div>
