@use '~@angular/material' as mat;
@use 'sass:map';

@import "styles/themes";
@import "app/app.component.theme";
@import "app/components/dashboard/dashboard.component.scss-theme";
@import "app/components/navbar/navbar.component.theme";
@import "app/core/timeline/timeline/timeline.component.theme";
@import "app/core/timeline/timeline-entry/timeline-entry.component.theme";
@import "app/core/timeline/timeline-node/timeline-node.component.theme";

@include mat.core();

html { scroll-behavior: smooth; scrollbar-width: thin; }
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.code-text {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.mat-tab-label-content {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.mat-tab-header {
  border-bottom: 0px solid !important;
}

/* Content layout styling */
.content {
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
}

/* General scrollbar styling */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

body.top-scroll::-webkit-scrollbar-thumb {
  border-radius: 0 0 4px 4px;
}

body.bottom-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px 4px 0 0;
}

/* Themed scrollbar styling */
@mixin scrollbar-thumb-theme($thumb-color, $track-color) {
  background-color: $thumb-color;
  //border: 3px solid $track-color;
}

@mixin scrollbar-track-theme($track-color) {
  background: $track-color;
}

$thumb-color-light: mat.get-color-from-palette(map.get($light-theme, accent), text);
$track-color-light: mat.get-color-from-palette(map.get($light-theme, background), app-bar);

html.scrollbar-light {
  scrollbar-color: $thumb-color-light $track-color-light;
}

body.scrollbar-light::-webkit-scrollbar-thumb {
  @include scrollbar-thumb-theme($thumb-color-light, $track-color-light);
}

body.scrollbar-light::-webkit-scrollbar-track {
  @include scrollbar-track-theme($track-color-light);
}

$thumb-color-dark: mat.get-color-from-palette(map.get($dark-theme, accent), text);
$track-color-dark: mat.get-color-from-palette(map.get($dark-theme, background), app-bar);

html.scrollbar-dark {
  scrollbar-color: $thumb-color-dark $track-color-dark;
}

body.scrollbar-dark::-webkit-scrollbar-thumb {
  @include scrollbar-thumb-theme($thumb-color-dark, $track-color-dark);
}

body.scrollbar-dark::-webkit-scrollbar-track {
  @include scrollbar-track-theme($track-color-dark);
}

/* Application theming */
@mixin custom-components-theme($theme) {
  @include app-component-theme($theme);
  @include dashboard-theme($theme);
  @include navbar-theme($theme);
  @include timeline-theme($theme);
  @include timeline-entry-theme($theme);
  @include timeline-node-theme($theme);
}

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include custom-components-theme($light-theme);
  @include mat.toolbar-theme($light-theme);

  $foreground: map.get($light-theme, foreground);
  .app-icon {
    color: mat.get-color-from-palette($foreground, text);
  }

  $accent: map.get($light-theme, accent);
  .app-skill-icon {
    color: mat.get-color-from-palette($accent, text);
  }
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include custom-components-theme($dark-theme);

  $primary: map.get($dark-theme, primary);
  .app-icon {
    color: mat.get-color-from-palette($primary, text);
  }

  $accent: map.get($light-theme, accent);
  .app-skill-icon {
    color: mat.get-color-from-palette($accent, text);
  }
}

/* Style background color if mat-sidenav-container is not full height */
#portfolio-app {
  $background-light: map.get($light-theme, background);
  $background-dark:  map.get($dark-theme, background);

  &.light-theme {
    background-color: mat.get-color-from-palette($background-light, background);
  }

  &.dark-theme {
    background-color: mat.get-color-from-palette($background-dark, background);
  }
}

/* Timeline styling */
app-timeline-entry {
  position: relative;
}

/* Technology list styling */
.technologies {
  overflow: hidden;
}

.technologies > span {
  display: inline-block;
  margin-right: 1em;
}

.technologies > span::before {
  display: inline-block;
  content: '\B7';
  margin-left: -0.5em;
  width: 1em;
}
