:host {
  display: block;
  position: relative;
  margin-bottom: 50px;
  width: calc(50% - 4px);
  box-shadow: 3px 3px 10px black;
}

:host.alternate {
  margin-left: calc(50% + 4px);
}

.timeline-entry-header {
  position: relative;
  /*background-color: rgb(230, 230, 230);*/
}
