<div id="experience">
  <div class="mat-display-1 app-border-line">Experience</div>
  <mat-tab-group id="experience-details" mat-align-tabs="center" dynamicHeight>
    <ng-component *ngFor="let experience of experiences">
      <mat-tab [label]="experience.company">
        <app-experience-detail [experience]="experience"></app-experience-detail>
      </mat-tab>
    </ng-component>
    <mat-tab label="Other">
      <app-experience-detail
        *ngFor="let experience of otherExperiences"
        [experience]="experience"
      ></app-experience-detail>
    </mat-tab>
  </mat-tab-group>
  <app-visibility [name]="skillsPage">
    <app-skills></app-skills>
  </app-visibility>
</div>
